$color-primary: #4A6CF7;
$color-secondary: #9B5DE5;
$color-quizButtons: #ECE0FC;
$color-quizText: #1338DE;
$color-background: #F9FAFC;
$color-h1: #1E1E1E;
$color-error: #FF4D6D;
$color-body: #555555;
$color-small: #999999;