<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookies</title>
    <link rel="stylesheet" href="/css/main.css" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>

    <script src="/js/cookies.js" defer></script>
  </head>
  <body>
    <div class="container-center">
      <div class="cookies-card-container">
        <img  class="biggerCookie" src="/assets/Cookie.png" alt="chocolate chip cookie" />
        <h1>Our website uses cookies</h1>
        <p>
          We use cookies to track your session and personalize your quiz.
          Without them, features like saving progress or generating questions
          won't work properly. By continuing, you accept our cookie use. See our
          Privacy Policy for more.
        </p>
        <div class="button-container">
          <div class="containerAcceptButton">
            <button id="acceptCookies" >
              <img src="assets/cookie-white.png" alt="little chocolate chip cookie" />
              Accept cookies
            </button>
          </div>
          <button id="denyCookies">Decline</button>
        </div>
      </div>
    </div>
  </body>
</html>
