<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizz.AI</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container-center">
      <h1 class="welcome-h1">Quizz.AI</h1>
      <div class="container-arrow">
        <a class="welcome-a" href="/cookies">Let's start the quiz</a>
        <img src="/assets/Arrow.png" alt="arrow pointing right">
      </div>
    </div>
  </body>
</html>
